@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&display=swap");
/*  font-family: 'Orbitron', sans-serif;  */

body {
  font-family: "Orbitron", sans-serif;
  font-size: 15px;
  color: #333;
  background: #111;
  overflow: hidden;
}

.wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  perspective: 900px;
  overflow: hidden;
}

/*  TRIGTER BTN */
.btnMenu {
  position: fixed;
  left: 40px;
  top: 50px;
  width: 30px;
  height: 30px;
  font-size: 32px;
  color: #f4f4f4;
  text-align: center;
  line-height: 30px;
  animation: aniBtn 0.4s infinite alternate;
  z-index: 3;
}
@keyframes aniBtn {
  0% {
    color: #fff;
    transform: scale(1);
    opacity: 1;
  }
  100% {
    color: #777;
    transform: scale(1.15);
    opacity: 0.75;
  }
}

/*  NAVIGAITON BAR */
nav {
  position: fixed;
  width: 150px;
  height: 100%;
  background: #e4e4e4;
  opacity: 0;
  z-index: 2;
  transform: rotate3d(0, 1, 0, 120deg);
  transform-origin: left center;
  transition: all 0.4s ease-in;
}
nav.on {
  transform: rotate3d(0, 1, 0, 15deg);
  opacity: 1;
}
nav h1 {
  position: absolute;
  left: 50%;
  top: 80px;
  width: 100px;
  margin-left: -50px;
}
nav h1 img {
  width: 100%;
}
nav ul {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  padding: 0;
}
nav ul li a {
  width: 100%;
  font-size: 18px;
  color: #333;
  text-align: center;
  line-height: 4;
}
nav ul li a:hover {
  color: #fff;
  background: #000;
}
/* contents */
section {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #999;
  transition: all 0.6s ease-out 0.3s;
  transform-origin: right center;
}
section.on {
  transform: rotate3d(0, 1, 0, -10deg);
}
section > div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  perspective: 700px;
  transition: all 1.5s ease-in-out;
}
section > div > p {
  float: left;
  width: 25%;
  height: 25%;
  margin-bottom: 0;
  text-align: center;
  overflow: hidden;
  transform: rotate3d(0, 1, 0, 180deg);
  transition: all 1.5s ease-in-out;
}
section > div.on {
  opacity: 1;
  z-index: 2;
}
section > div.on > p {
  transform: rotate3d(0, 1, 0, 0deg);
}
section > div > p > strong {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  margin-top: -35px;
  font-size: 50px;
  color: #f4f4f4;
  text-align: center;
}
section > div > p > span {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  margin-top: -10px;
  font-size: 20px;
  color: #e4e4e4;
  text-align: center;
}
section > div > p > video {
  width: 100%;
  height: 100%;
  background: #000;
}
section > div > p > a {
  float: left;
  width: 40px;
  height: 30px;
  margin: 0 10px;
}
section > div > p > a > i {
  font-size: 30px;
  color: #e8e8e8;
  opacity: 0.75;
  transition: all 0.3s ease-in;
}
section > div > p > a > i:hover {
  transform: scale(1.15);
  opacity: 1;
}
/* box1 */
.box1 > p:nth-child(1) {
  width: 50%;
  background: #222;
}
.box1 > p:nth-child(2) {
  background: url(../imgs/m1.jpg) no-repeat center center;
  background-size: cover;
}
.box1 > p:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444;
}
.box1 > p:nth-child(4) {
  float: right;
  width: 50%;
  height: 50%;
  background: url(../imgs/m2.jpg) no-repeat center center;
  background-size: cover;
}
.box1 > p:nth-child(5) {
  float: right;
  background: url(../imgs/m3.jpg) no-repeat center center;
  background-size: cover;
}
.box1 > p:nth-child(6) {
  float: right;
  background: #777;
}
.box1 > p:nth-child(7) {
  float: right;
  background: #444;
}
.box1 > p:nth-child(8) {
  float: right;
  background: url(../imgs/m4.jpg) no-repeat center center;
  background-size: cover;
}
.box1 > p:nth-child(9) {
  width: 50%;
  background: url(../imgs/m5.jpg) no-repeat center center;
  background-size: cover;
}
.box1 > p:nth-child(10) {
  background: #444;
}
.box1 > p:nth-child(11) {
  background: #222;
}
/* box2 */
.box2 > p:nth-child(1) {
  background: #444;
}
.box2 > p:nth-child(2) {
  background: url(../imgs/w1.jpg) no-repeat center center;
  background-size: cover;
}
.box2 > p:nth-child(3) {
  width: 50%;
  background: #c7c7c7;
}
.box2 > p:nth-child(4) {
  height: 50%;
  background: url(../imgs/w2.jpg) no-repeat center center;
  background-size: cover;
}
.box2 > p:nth-child(5) {
  width: 50%;
  height: 50%;
  background: url(../imgs/w3.jpg) no-repeat center center;
  background-size: cover;
}
.box2 > p:nth-child(6) {
  background: url(../imgs/w4.jpg) no-repeat center center;
  background-size: cover;
}
.box2 > p:nth-child(7) {
  background: #555;
}
.box2 > p:nth-child(8) {
  background: url(../imgs/w5.jpg) no-repeat center center;
  background-size: cover;
}
.box2 > p:nth-child(9) {
  background: #444;
}
.box2 > p:nth-child(10) {
  background: url(../imgs/w6.jpg) no-repeat center center;
  background-size: cover;
}
.box2 > p:nth-child(11) {
  background: #999;
}
/* box3 */
.box3 > p:nth-child(1) {
  width: 50%;
  height: 100%;
  background: url(../imgs/k1.jpg) no-repeat center center;
  background-size: cover;
}
.box3 > p:nth-child(2) {
  background: #444;
}
.box3 > p:nth-child(3) {
  background: url(../imgs/k2.jpg) no-repeat center center;
  background-size: cover;
}
.box3 > p:nth-child(4) {
  width: 50%;
  background: #222;
}
.box3 > p:nth-child(5) {
  height: 50%;
  background: url(../imgs/k3.jpg) no-repeat center center;
  background-size: cover;
}
.box3 > p:nth-child(6) {
  background: #888;
}
.box3 > p:nth-child(7) {
  background: url(../imgs/k4.jpg) no-repeat center center;
  background-size: cover;
}
